<form th:action="@{/admin/categories/save}" th:object="${category}" method="post">
    <input type="hidden" th:field="*{categoryId}">
    <div class="mb-3">
        <label>Tên danh mục</label>
        <input type="text" class="form-control" th:field="*{categoryname}" required>
    </div>
    <div class="mb-3">
        <label>User tạo</label>
        <select class="form-select" th:field="*{user.id}">
            <option th:each="u : ${users}" th:value="${u.id}" th:text="${u.fullname}"></option>
        </select>
    </div>
    <div class="mb-3">
        <label>Status</label>
        <select class="form-select" th:field="*{status}">
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Lưu</button>
</form>